.well-test{
    color:red;
}

.box {
    height: 150px;
    width: 150px;
    margin: 20px;
    text-align: center;
    font-size: 1em;
    white-space: normal;
    word-wrap: break-word;
    display: block;
    padding: 5px;
}

.club-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}