.events-container {
    background-color: #fff;
    padding: 30px;
    margin: 20px 30px 50px 30px;
}

.events-container h2 {
    margin: 0 0 10px 0;
}

.events-list {
    display: flex;
    flex-wrap: wrap;
}

.no-events {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #c4c4c4;
}