.events-container {
    background-color: #fff;
    padding: 30px;
    margin: 20px 30px 50px 30px;
}

.events-container h2 {
    margin: 0 0 10px 0;
}

.events-container a, .events-container a:visited, .events-container a:hover, .events-container a:active {
    color: inherit;
    text-decoration: none;
}

.events-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Little hack to keep evenly spaced but left aligned */
.events-list:after {
    content: "";
    flex: 0 1 200px;
    margin: 5px;
}

.no-events {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #c4c4c4;
}