.task-container {
    display: flex;
    padding: 10px;
    align-items: center;
    min-width: 450px;
    height: 75px;
    cursor: pointer;
    transition: 0.2s;
}

.task-container:hover {
    background-color: #0085FF;
    color: white;
}

.task-container:active {
    background-color: #0085FF;
    color: white;
}

.task-container h3 {
    font-weight: 500;
}

.task-container p {
    font-size: 16px;
}

.task-info {
    flex-grow: 2;
}