h2 {
    font-weight: 500;
    font-size: 30px;
}

.event-title {
    margin-left: 30px;
    color: white;
}

.event-tasks-container {
    display: flex;
    background-color: #fff;
    height: calc(100vh - 120px);
    width: calc(100% - 60px);
    margin-right: 30px;
    margin-left: 30px;
}

.event-menu {
    min-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.event-menu-button {
    padding: 10px;
}

.event-menu-item {
    cursor: pointer;
    padding: 20px 0;
    transition: 0.2s;
}

.event-menu-item:hover {
    background-color: #0085FF;
    color: white;
}

.event-menu-item:active {
    background-color: #0085FF;
    color: white;
}

.event-menu-item h2 {
    margin-left: 20px;
}

.event-task-list {
    border-left: 1px solid #c4c4c4;
}

.event-task-details {
    border-left: 1px solid #c4c4c4;
    width: 100%;
}