h2 {
    font-weight: 500;
    font-size: 30px;
}

.active {
    background-color: #0085FF;
    color: #fff;
}

.event-tasks-container {
    display: flex;
    background-color: #fff;
    margin: 20px 30px 50px 30px;
    height: 100%;
}

.event-menu {
    min-width: 250px;
}

.event-menu h2 {
    margin: 0;
}

.event-menu > div {
    padding: 20px 30px 10px 30px;
}

.event-task-list {
    box-shadow: -4px 0px 5px #c4c4c4;
}

.event-task-details {
    box-shadow: -4px 0px 5px #c4c4c4;
}